<div id="<%= dom_id freind %>">
  <p>
    <strong>First name:</strong>
    <%= freind.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= freind.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= freind.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= freind.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= freind.twitter %>
  </p>

</div>
